.route-project-card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.route-project-card .light-text {
  color: #444;
}

.route-project-card .client-info {
  strong {
    font-size: 0.875rem;
  }

  .divider {
    color: #e4e4e4;
    height: 0.5px;
  }
}

.route-project-card .star span {
  margin-top: 2px;
  color: #e6cc00;
}

.route-project-card .gig-details {
  p {
    color: #666;
    font-size: 0.8125rem;
  }

  strong {
    font-size: 1rem;
  }
}
