@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-container {
    @apply container py-24 px-6;
  }
}

@layer components {
  .btn {
    @apply text-white text-base font-medium rounded-lg px-5 py-2.5 focus:outline-none transition;
  }

  .btn-xs {
    @apply text-xs;
  }

  .btn-sm {
    @apply text-sm;
  }

  .btn-primary {
    @apply bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300;
  }

  .btn-secondary {
    @apply bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300;
  }
}

@layer base {
  html {
    font-size: 100%;
    font-synthesis: none;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
  }

  #root > *:nth-child(2) {
    @apply flex-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply leading-tight;
  }

  h1 {
    @apply font-bold text-5xl;
  }

  h2 {
    @apply font-semibold text-3xl;
  }

  h3 {
    @apply font-semibold text-2xl;
  }

  h4 {
    @apply font-semibold text-xl;
  }

  h5 {
    @apply font-semibold text-lg;
  }

  small,
  .text-small {
    @apply text-sm;
  }

  input {
    @apply border border-gray-200 text-base text-gray-700 outline-none rounded-md px-2 py-1;
  }

  button {
    @apply inline-flex items-center justify-center border border-transparent outline-none bg-transparent font-inter text-inherit no-underline select-none transition touch-manipulation cursor-pointer;
  }
}
