.featured {
  display: flex;
  justify-content: center;
  background-color: #013914;
  color: #fff;
}

.search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.btn--featured {
  width: 7.5rem;
  background-color: #1dbf73;
  color: #fff;
  border-radius: 0;
}

.btn--popular {
  font-size: 0.875rem;
  border-color: #fff;
}

h1 i.hl {
  color: #1dbf73;
}
