.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #003912;
  color: #fff;
  transition: all 0.5s ease;

  &.active {
    background-color: #fff;
    color: #000;
  }
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 1.3rem 0;
}

.logo {
  font-size: 2.2rem;
}

.logo .dot {
  color: #1dbf73;
}

.links,
.menu {
  font-family: "Montserrat", sans-serif;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 500;
}

.links .btn {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  border: 1px solid #fff;
  transition: all 0.2s;

  &:hover {
    background-color: #1cbf73;
    border-color: #1cbf73;
  }
}

// MENU
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 300;
}

.menu-separator {
  width: 100%;
  height: 1px;
  background-color: #eee;
}
