.navbar {
  position: sticky;
  top: 0;
  z-index: 2000;

  transition: all 0.5s ease;
}

/* custom css for active navbar */
nav.navbar--active {
  background-color: #fff;
  color: #222;
}

.navbar--active .btn--join,
.navbar--active .btn--join:hover {
  background-color: #22c55e;
  border-color: #22c55e;
  color: #fff;
}

/* custom css for user menu */
.user-menu {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 75px;
  right: -84px;
  z-index: 1040;

  transition: all 0.25s ease;
}

.user-menu.open {
  visibility: visible;
  opacity: 1;
}

/* custom css for grid menu */
.grid-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(3, 3.125rem);
  align-items: center;
  justify-items: center;
  gap: 1.5em;
}

.menu-separator {
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}
