.footer .footer--grid {
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: 1.5em 2em;
}

.footer .footer--grid h2 {
  margin-bottom: 0.6em;
}

.footer .footer--grid li {
  max-width: 20ch;
}
