.footer .footer--grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5em 2em;
}

.footer .footer--grid h2 {
  margin-bottom: 0.6em;
}

.footer .footer--grid li {
  max-width: 20ch;
}

.footer .footer--grid hr {
  background-color: #888;
  color: #888;
}

.footer--bottom p {
  margin-top: 0.625rem;
}
