html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  position: relative;

  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-synthesis: none;
  color: #222;
  line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > *:nth-child(2) {
  flex: 1;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
}

input {
  border: 0.8px solid #b2b2b2;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.2em 0.5em;
  font-size: 1rem;
}

p {
  margin-bottom: 0;
}

a:link,
a:visited {
  color: currentColor;
  text-decoration: none;
}

a:hover,
a:active {
  color: currentColor;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  letter-spacing: 0.5px;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  color: #fff;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;

  transition: all 200ms ease;
  touch-action: manipulation;
  cursor: pointer;
}

.link:link,
.link:visited {
  color: inherit;
  text-decoration: none;
}
